/* ########### FONTS ############ */
@font-face {
  font-family: "coolvetica";
  src: url("../assets/fonts/coolveticaBlod.ttf");
}
@font-face {
  font-family: "coolveticaRegu";
  src: url("../assets/fonts/coolvetica.ttf");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url("../assets/image/game-bg-blur.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* ########### HEADER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ############ MAIN ############ */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION MAIN MENU ### */
.main-menu {
  width: 100%;
  height: 100vh;
  display: block;
}
.main-menu .main-menu-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .main-menu-content .main-menu-button button {
  cursor: pointer;
  height: 80px;
  width: 300px;
  background-color: #314250;
  border: none;
  font-family: "coolvetica";
  font-size: 35px;
  color: #fff06a;
  position: relative;
  transition: all 0.3s ease;
}
.main-menu .main-menu-content .main-menu-button button::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  border: 2px dotted;
  top: -60px;
  left: 50px;
  transform: rotateZ(45deg);
  transition: all 0.2s ease;
}
.main-menu .main-menu-content .main-menu-button button:hover::after {
  transform: rotateZ(0deg);
  width: 310px;
  height: 90px;
  top: -7px;
  left: -7px;
}
.main-menu .main-menu-content .main-menu-button button:active::after {
  width: 295px;
  height: 75px;
  top: -2px;
  left: -2px;
}
.main-menu .main-menu-content .main-menu-button button:hover {
  background-color: #405668;
}
.main-menu .main-menu-content .main-menu-button button:active {
  height: 75px;
  width: 295px;
  background-color: #0f3b5f;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION MAIN MENU BOSS ### */
.main-menu-boss {
  height: 100vh;
  width: 100%;
  display: none;
}
.main-menu-boss .main-menu-boss-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-menu-boss .main-menu-boss-content .main-menu-boss-title {
  height: 66px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #314250;
}
.main-menu-boss .main-menu-boss-content .main-menu-boss-title p {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
}
.main-menu-boss .main-menu-boss-content .boss-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card {
  cursor: pointer;
  height: 500px;
  width: 375px;
  background-color: #c1d3c4;
  position: relative;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card .boss-card-top {
  width: 100%;
  height: 65%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314250;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card .boss-card-top img {
  height: 135%;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card .boss-card-bot {
  width: 100%;
  height: 35%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card .boss-card-bot .boss-name {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 28px;
  color: #d94163;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card .boss-card-bot p {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card::after {
  position: absolute;
  content: "";
  height: 520px;
  width: 395px;
  left: -12px;
  top: -12px;
  border: 2px dotted #fff06a;
  transition: all 0.1s ease;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card:hover::after {
  height: 530px;
  width: 405px;
  left: -17px;
  top: -17px;
}
.main-menu-boss .main-menu-boss-content .boss-cards .boss-card:active:after {
  height: 500px;
  width: 375px;
  left: -2px;
  top: -2px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION MAIN MENU HERO ### */
.main-menu-hero {
  height: 100vh;
  width: 100%;
  display: none;
}
.main-menu-hero .main-menu-hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-menu-hero .main-menu-hero-content .main-menu-hero-title {
  height: 66px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #314250;
}
.main-menu-hero .main-menu-hero-content .main-menu-hero-title p {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.main-menu-hero .main-menu-hero-content .text-box-menu-hero {
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  color: #FFFED7;
  font-size: 20px;
  text-align: center;
  padding: 0 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu-hero .main-menu-hero-content .hero-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card {
  height: 500px;
  width: 375px;
  background-color: #c1d3c4;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-top {
  width: 100%;
  height: 55%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314250;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-top img {
  height: 60%;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-bot {
  width: 100%;
  height: 45%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-bot .hero-name {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 28px;
  color: #d94163;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-bot p {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-bot input {
  padding: 5px;
  width: 100%;
  height: 30px;
  background: none;
  border: 2px solid #314250;
  text-align: center;
  font-family: sans-serif;
  color: #314250;
  font-size: 16px;
}
.main-menu-hero .main-menu-hero-content .hero-cards .hero-card .hero-card-bot input:focus {
  outline: none;
  border: 2px solid #fff06a;
  font-family: sans-serif;
  color: #314250;
}
.main-menu-hero .main-menu-hero-content .hero-card-confirm div button {
  cursor: pointer;
  height: 80px;
  width: 300px;
  background-color: #314250;
  border: none;
  font-family: "coolvetica";
  font-size: 35px;
  color: #fff06a;
  position: relative;
  transition: all 0.3s ease;
}
.main-menu-hero .main-menu-hero-content .hero-card-confirm div button:hover {
  background-color: #405668;
}
.main-menu-hero .main-menu-hero-content .hero-card-confirm div button:active {
  background-color: #0f3b5f;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION GAMEPLAY ### */
.gameplay {
  background-image: url("../assets/image/game-bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: none;
  width: 100%;
  height: 100vh;
}
.gameplay .gameplay-content {
  width: 100%;
  height: 100%;
  display: flex;
}
.gameplay .gameplay-content .gameplay-left {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top {
  height: 50%;
  width: 75%;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info {
  height: 150px;
  width: 100%;
  background: #314250;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info .gameplay-boss-info-top {
  height: 50%;
  padding: 0 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info .gameplay-boss-info-top img {
  height: 60px;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info .gameplay-boss-info-top #gameplayBossName {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info .gameplay-boss-info-bot {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info .gameplay-boss-info-bot .gameplay-healthbar {
  height: 40%;
  width: 85%;
  border: 2px solid #fff06a;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-top .gameplay-boss-info .gameplay-boss-info-bot .gameplay-healthbar #bossHealthBar {
  height: 100%;
  width: 100%;
  background: #86a820;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-bot {
  height: 20%;
  width: 75%;
  background: #c1d3c4;
}
.gameplay .gameplay-content .gameplay-left .gameplay-left-bot #textBoxGameplay {
  font-family: sans-serif;
  font-size: 22px;
  color: #314250;
  padding: 15px;
}
.gameplay .gameplay-content .gameplay-mid {
  height: 100%;
  width: 50%;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-top img {
  height: 35vh;
  margin-top: 130px;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-top #sauronSprite {
  display: block;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-top #lilithSprite {
  display: none;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-top #chronosSprite {
  display: none;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-bot {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-bot img {
  height: 30vh;
  margin-bottom: 80px;
}
.gameplay .gameplay-content .gameplay-mid .gameplay-mid-bot .morepad {
  margin-bottom: 120px;
}
.gameplay .gameplay-content .gameplay-right {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top {
  width: 75%;
  height: fit-content;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info {
  height: 150px;
  width: 100%;
  background: #314250;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-top {
  height: 50%;
  padding: 0 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-top img {
  height: 60px;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-top #gameplayWarriorName {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-top #gameplayMageName {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-top #gameplayArcherName {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-bot {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-bot .gameplay-healthbar {
  height: 40%;
  width: 85%;
  border: 2px solid #fff06a;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-bot .gameplay-healthbar #warriorHealthBar {
  height: 100%;
  width: 100%;
  background: #86a820;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-bot .gameplay-healthbar #mageHealthBar {
  height: 100%;
  width: 100%;
  background: #86a820;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-top .gameplay-hero-info .gameplay-hero-info-bot .gameplay-healthbar #archerHealthBar {
  height: 100%;
  width: 100%;
  background: #86a820;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot {
  width: 75%;
  height: 20%;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option {
  background: #c1d3c4;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option .hero-name-title {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option p {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #314250;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option .select-button-div {
  width: 50%;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option .select-button-div button {
  width: 100%;
  height: 35px;
  cursor: pointer;
  background-color: #314250;
  border: none;
  font-family: "coolvetica";
  font-size: 22px;
  color: #fff06a;
  transition: all 0.3s ease;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option .select-button-div button:hover {
  background-color: #405668;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot .gameplay-option .select-button-div button:active {
  background-color: #0f3b5f;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot #warriorCombatModeMenu {
  display: flex;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot #mageCombatModeMenu {
  display: none;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot #archerCombatModeMenu {
  display: none;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot #nextDiv {
  display: none;
}
.gameplay .gameplay-content .gameplay-right .gameplay-right-bot #yourTurnDiv {
  display: none;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION RIDDLE ### */
.riddle {
  height: 100vh;
  width: 100%;
  display: none;
}
.riddle .riddle-content {
  width: 100%;
  height: 100%;
}
.riddle .riddle-content .riddle-all {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.riddle .riddle-content .riddle-all .riddle-title {
  height: 66px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #314250;
}
.riddle .riddle-content .riddle-all .riddle-title p {
  font-family: "coolvetica";
  font-size: 36px;
  color: #d94163;
  text-align: center;
}
.riddle .riddle-content .riddle-all .riddle-ask {
  height: 122px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #314250;
}
.riddle .riddle-content .riddle-all .riddle-ask p {
  font-family: sans-serif;
  font-size: 24px;
  color: #FFFED7;
  text-align: center;
}
.riddle .riddle-content .riddle-all .riddle-button {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.riddle .riddle-content .riddle-all .riddle-button button {
  width: 140px;
  height: 50px;
  cursor: pointer;
  background-color: #314250;
  border: none;
  font-family: "coolvetica";
  font-size: 22px;
  color: #fff06a;
  transition: all 0.3s ease;
}
.riddle .riddle-content .riddle-all .riddle-button button:hover {
  background-color: #405668;
}
.riddle .riddle-content .riddle-all .riddle-button button:active {
  background-color: #0f3b5f;
}
.riddle .riddle-content #riddleOne {
  display: flex;
}
.riddle .riddle-content #riddleTwo {
  display: none;
}
.riddle .riddle-content #riddleThree {
  display: none;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION GAMEOVER ### */
.gameover-menu {
  height: 100vh;
  width: 100%;
  display: none;
}
.gameover-menu .gameover-menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  flex-direction: column;
}
.gameover-menu .gameover-menu-content p {
  font-family: "coolvetica";
  font-size: 98px;
  color: #d94163;
}
.gameover-menu .gameover-menu-content button {
  cursor: pointer;
  height: 80px;
  width: 300px;
  background-color: #314250;
  border: none;
  font-family: "coolvetica";
  font-size: 35px;
  color: #fff06a;
  position: relative;
  transition: all 0.3s ease;
}
.gameover-menu .gameover-menu-content button:hover {
  background-color: #405668;
}
.gameover-menu .gameover-menu-content button:active {
  background-color: #0f3b5f;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ########### FOOTER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */

/*# sourceMappingURL=app.css.map */
