/* ### SECTION MAIN MENU BOSS ### */
.main-menu-boss
    height: 100vh
    width: 100%
    display: block
    .main-menu-boss-content
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        div
            p
                font-family: "coolvetica"
                font-size: 36px
        .boss-cards
            width: 100%
            display: flex
            justify-content: space-evenly
            align-items: center
            .boss-card
                cursor: pointer
                height: 500px
                width: 375px
                background-color: #c1d3c4
                position: relative
                .boss-card-top
                    width: 100%
                    height: 65%
                    overflow: hidden
                    display: flex
                    justify-content: center
                    align-items: center
                    background-color: #314250
                    img
                        height: 135%
                .boss-card-bot
                    width: 100%
                    height: 35%
                    padding: 15px
                    display: flex
                    flex-direction: column
                    justify-content: space-around
                    .boss-name
                        font-family: sans-serif
                        font-weight: bolder
                        font-size: 28px
                    p
                        font-family: sans-serif
                        font-size: 16px
            .boss-card::after
                position: absolute
                content: ''
                height: 520px
                width: 395px
                left: -12px
                top: -12px
                border: 2px dotted #fff06a
                transition: all 0.1s ease
            .boss-card:hover::after
                height: 530px
                width: 405px
                left: -17px
                top: -17px
            .boss-card:active:after
                height: 500px
                width: 375px
                left: -2px
                top: -2px




/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px)


/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px)


/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px)


/* ### BIG DESKTOP ### */
@media (min-width: 1025px)
