/* ### SECTION MAIN MENU BOSS ### */
.main-menu-boss
    height: 100vh
    width: 100%
    display: block
    .main-menu-boss-content

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px)


/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px)


/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px)


/* ### BIG DESKTOP ### */
@media (min-width: 1025px)
